html {
  font-family: simple-light, sans-serif;
}

@font-face {
  font-family: tython;
  src: url(fonts/Tython.ttf);
}

@font-face {
  font-family: simple-light;
  src: url(fonts/Simple-light.ttf);
}

@font-face {
  font-family: simple-reg;
  src: url(fonts/Simple-regular.ttf);
}