html {
  h1 {
    display: block;
    min-height: 50px;
    margin: 20px;
    font-size: 4em;
    color: black;
    font-family: simple-reg;
    text-decoration: none;
    padding: 10px;
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  p {
    margin-bottom: 20px;
  }
  em {
    font-style: italic;
  }
  strong {
    font-weight: bold;
  }
}
